<html xmlns:th="http://www.thymeleaf.org">
	<head>

	</head>
	<body>
	<header>
	<div class="container">
	<h1>회원가입</h1>
	
		<form action="/userAdd" method="post" id="userAddForm">

				<table>
				<tr>
					<th>제목</th>
					<td><input id="userId" name="userId"/></td>
				</tr>	
				<tr>
					<th>비밀번호</th>
					<td><input id="userPassword" name="userPassword" /></td>
				</tr>	
				<tr>
					<th>이름</th>
					<td><input id="userName" name="userName"/></td>
				</tr>
				<tr>
					<th>주소</th>
					<td><input id="userAddr" name="userAddr" /></td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td><input id="userPhone" name="userPhone" /></td>
				</tr>
				<tr>
					<th>지점코드</th>
					<td><input type="radio" id="agencyCode" name="agencyCode" value="agencyCode_1"/>agencyCode_1</td>
					<td><input type="radio" id="agencyCode" name="agencyCode" value="agencyCode_2"/>agencyCode_2</td>
					
				</tr>
				</table>
				<input type="submit" value="등록" id="" class=""/>
				<span><a href="index">돌아가기</a></span>
		</form>
	</div>
	</header>
	</body>

</html>